/***************************************************************
 * viewer Crowdsourcing Stylesheet v3.1.0
 * 
 * Write {LESS}, do more!
 *
 * This file overwrites the basic style declarations for the
 * intranda viewer Crowdsourcing (reference2-cs.css)
 **************************************************************/
/* CORE VARIABLES AND MIXINS */
/* ==============================================================
   Theme Fonts
   ==============================================================*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlabRegular';
  src: url('../../fonts/RobotoSlab-Regular-webfont.eot');
  src: url('../../fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/RobotoSlab-Regular-webfont.woff') format('woff'), url('../../fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'), url('../../fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherRegular';
  src: url('../../fonts/merriweather-regular-webfont.woff2') format('woff2'), url('../../fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*
 * general styling
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
body {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
a {
  color: #507ebf;
}
a:hover,
a:focus,
a:active {
  color: #444;
  outline: none !important;
}
button:focus,
button:active {
  outline: none !important;
}
strong {
  font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* CROWDSOURCING */
/* image map */
/* template.html */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
.container-fluid {
  padding: 0;
}
.no-padding {
  padding: 0;
}
#mobileToggleWrapper {
  background-color: #fff;
}
#mobileToggleWrapper .customer-header-logo a {
  color: #444;
}
#mobileToggleWrapper .customer-header-logo a:hover,
#mobileToggleWrapper .customer-header-logo a:focus #mobileToggleWrapper .customer-header-logo a:active {
  color: #444;
}
#mobileToggleWrapper .customer-header-logo img {
  max-height: 32px;
}
#mobileToggleWrapper .btn-toggle {
  color: #444;
  border-color: #444;
}
#mobileToggleWrapper .btn-toggle:active,
#mobileToggleWrapper .btn-toggle:focus {
  outline: none !important;
}
#mobileToggleWrapper .language.in:before,
#mobileToggleWrapper .search.in:before {
  border-color: transparent transparent #444 transparent;
}
/* TOP HEADER */
/* BLOCK */
.top-header {
  background-color: #444;
  color: #fff;
  /* ELEMENT */
}
.top-header a {
  color: #fff;
}
.top-header a:hover,
.top-header a:focus,
.top-header a:active {
  color: #fff;
  text-decoration: none;
}
.top-header__logo {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 14px;
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
.top-header__logo strong {
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
.top-header__nav {
  text-align: right;
  font-size: 12px;
}
.top-header__nav li {
  display: inline-block;
  height: 1.75rem;
  line-height: 1.75rem;
  margin: 0 0.4375rem 0 0;
}
.top-header__nav-links {
  float: right;
  margin-right: 0.4375rem;
}
/* HEADER ACTIONS */
/* BLOCK */
.header-actions {
  min-height: 110px;
  /* ELEMENT */
}
.header-actions__logo {
  line-height: 95px;
}
.header-actions__logo a:hover,
.header-actions__logo a:focus,
.header-actions__logo a:active {
  text-decoration: none;
}
.header-actions__logo span {
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 2rem;
  font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
.header-actions__logo img {
  max-width: 100%;
  max-height: 75px;
}
.header-actions__search {
  padding: 28px 0 27px 0;
}
.header-actions__search-advanced {
  padding-left: 6px;
  font-size: 12px;
}
/* MAIN NAVIGATION */
/* BLOCK */
.main-navigation {
  background-color: #507ebf;
  /* ELEMENT */
}
/* SIDEBAR */
#sidebar {
  padding-top: 15px;
}
/* FOOTER */
#pageFooter {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #444;
}
#footerNavigation {
  text-align: right;
  font-size: 12px;
}
#footerNavigation li {
  display: inline-block;
}
#footerNavigation li + li:before {
  content: "\007c";
  display: block;
  float: left;
  clear: left;
  padding: 5px 10px 5px 0;
}
#footerNavigation a {
  display: inline-block;
  padding: 5px 5px 5px 0;
  color: #999;
}
#footerNavigation a:hover,
#footerNavigation a:focus,
#footerNavigation a:active {
  color: #999;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  /* OFF CANVAS */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    padding-right: 30px;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    padding-left: 30px;
  }
  .row-offcanvas-right.active {
    right: 50%;
  }
  .row-offcanvas-left.active {
    left: 50%;
  }
  #main {
    width: 100%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
  /* HEADER */
  #pageHeader {
    margin-bottom: 15px;
  }
  .top-header__logo,
  .top-header__nav-links,
  .header-actions__logo {
    display: none;
  }
  .header-actions {
    min-height: inherit;
  }
  .header-actions__search {
    float: none;
    display: none;
    position: fixed;
    top: 53px;
    right: 10px;
    left: 50%;
    padding: 10px;
    border: 1px solid #444;
    background-color: #fff;
    z-index: 999;
  }
  .header-actions__search .col-xs-6 {
    width: 100%;
  }
  .header-actions__search .col-xs-offset-6 {
    margin-left: 0;
  }
}
/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: 480px) {
  .row-offcanvas-right .sidebar-offcanvas {
    right: -75%;
    /* 9 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -75%;
    /* 9 columns */
  }
  .row-offcanvas-right.active {
    right: 75%;
    /* 9 columns */
  }
  .row-offcanvas-left.active {
    left: 75%;
    /* 9 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
    /* 9 columns */
    padding-left: 37px;
  }
  /* HEADER */
  .header-actions__search {
    left: 10px;
  }
  /* SIDEBAR */
  #sidebar {
    padding-top: 0;
  }
  /* FOOTER */
  #footerNavigation li {
    display: block;
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  #footerNavigation li + li:before {
    display: none;
  }
}
/* ==============================================================
   Mixins
   ==============================================================*/
/* ==============================================================
   Print CSS
   style declarations for print views
   ==============================================================*/
@media print {
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:link:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
/* ==============================================================
   Variables
   ==============================================================*/
/* FONTS */
/* BASIC */
/* CI-COLORS */
/* STATISTICS */
/* NER */
/* CROWDSOURCING */
/* MEDIA QUERY BREAK POINTS */
/* VIEWER COMPONENTS */
/* ==============================================================
   viewer Controls
   style declarations for viewImageControls.xhtml
   ==============================================================*/
.viewer-control.page-browse {
  line-height: 30px;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Simple (Numeric) Paginator
   style declarations for simplePaginator.xhtml
   ==============================================================*/
#numeric_paginator_nav ul li a,
#numeric_paginator_nav ul li span {
  line-height: 30px;
  border-color: #d5d5d5;
}
#numeric_paginator_nav ul li a:hover {
  background-color: #eee;
}
#numeric_paginator_nav ul li.paginator-active span {
  line-height: 32px;
  font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #507ebf;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Buttons
   style declarations for buttons
   ==============================================================*/
.btn,
.btn.ui-button {
  font-size: 14px;
  color: #fff;
  border: 1px solid #d5d5d5;
  background-color: #507ebf;
}
.btn:hover,
.btn.ui-button:hover,
.btn:focus,
.btn.ui-button:focus,
.btn:active,
.btn.ui-button:active {
  color: #fff;
  background-color: #69a7ef;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Inputs
   style declarations for input elements
   ==============================================================*/
/* INPUT PLACEHOLDER */
/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING LAYOUT */
/* ==============================================================
   Crowdsourcing Layout
   style declarations for Crowdsourcing Layout
   ==============================================================*/
body {
  padding: 70px 15px 0 15px;
}
.cs-widget-box {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #d5d5d5;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING COMPONENTS */
/* ==============================================================
   Crowdsourcing Change Local
   style declarations for crowdsourcingChangeLocal.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Image Controls
   style declarations for image controls
   ==============================================================*/
/* image controls */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Main Navigation
   style declarations for crowdsourcingNavigation.xhtml
   ==============================================================*/
#mainnav {
  background-color: #507ebf;
  border-color: #507ebf;
}
#mainnav ul li a {
  color: #fff;
}
#mainnav ul li a:hover,
#mainnav ul li a:focus,
#mainnav ul li a:active {
  color: white;
}
#mainnav .dropdown-menu > li {
  width: 100%;
}
#mainnav .dropdown-menu > li.divider {
  min-height: inherit;
}
#mainnav .dropdown-menu > li > a {
  color: #444;
}
#mainnav .dropdown-menu > li > a:hover,
#mainnav .dropdown-menu > li > a:focus,
#mainnav .dropdown-menu > li > a:active {
  color: #444;
  background-color: #eee;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Progress Bars
   style declarations for progress bars
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* VIEWS */
/* ==============================================================
   Crowdsourcing edit View Content
   style declarations for editviewContent.xhtml
   ==============================================================*/
/* content left */
/* content right */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View History
   style declarations for editviewHistory.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Edit View OCR
   style declarations for editviewOcr.xhtml
   ==============================================================*/
/* content right */
.ocr-right-delete-fulltext-mode {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #d5d5d5;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View Overview
   style declarations for editviewOverview.xhtml
   ==============================================================*/
/* content left */
/* content right */
.overview-right-show-more {
  text-align: center;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Overview
   style declarations for crowdOverview.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
