/* ==============================================================
   Search Quick Filters
   ==============================================================*/

/* FORM */
.search-standard__form.-with-filters {
}

/* INPUT WRAPPER */
.search-standard__input-slim.-with-filters {
    border: 1px solid var(--quick-filter-border);

    input.search-standard__submit-button.btn {
    }

    .search-standard__input-autocomplete .ui-autocomplete .ui-autocomplete-input {
    }

    &.-filters-open {
        .search-standard__input-autocomplete .ui-autocomplete .ui-autocomplete-input {
        }

        input.search-standard__submit-button.btn {
        }
    }
}

/* TOGGLE BUTTON */
.search-standard__filter-toggle {
    .search-standard__filter-toggle-icon.-open {
    }

    .search-standard__filter-toggle-icon.-close {
    }

    &:hover {
    }
}

/* PANEL */
.search-quick-filters {
    border: 1px solid var(--quick-filter-border);
    border-top: none;

    &.-open {
    }

    &__fields-area {
    }

    &__bottom-row {
    }

    &__row {
    }

    /* FIELD */
    &__field {
        &.-date {
        }

        &.-dropdown-open {
        }
    }

    &__field-label {
    }

    &__field-text {
    }

    &__field-controls {
    }

    &__field-value {
        &:hover {
        }

        &:focus-visible {
        }
    }

    &__field-clear {
        &:hover {
        }
    }

    &__date-field {
    }

    &__field-input {
        &.-invalid {
        }
    }

    /* DROPDOWN */
    &__dropdown {
        border: 1px solid var(--quick-filter-border);

        &.-open {
        }
    }

    &__dropdown-header {
    }

    &__dropdown-header-text {
    }

    &__dropdown-header-close {
        &:hover {
        }
    }

    &__dropdown-search {
    }

    &__dropdown-list {
    }

    &__dropdown-group {
        &-header {
        }
    }

    &__dropdown-item {
        &:hover {
        }
    }

    /* CHECKBOX GROUP */
    &__checkbox-group {
    }

    &__checkbox {
    }

    /* STATUS BAR */
    &__status-bar {
        &.-outer {
        }

        &.-inner {
        }
    }

    &__status-info {
        &:focus {
        }
    }

    &__status-reset {
        &:hover {
        }
    }

    /* ACTIONS */
    &__actions {
        &.-visible {
        }
    }

    &__action-link {
        &:hover {
        }

        &.-reset {
            &:hover {
            }
        }
    }
}

/* TOOLTIP */
.tooltip.tooltip--quickfilter {
    .tooltip-inner {
    }
}

.tooltip--quickfilter__list {
    li {
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
}
