/* ==============================================================
   Widget geofacetting
   style declarations for widget_geoFacetting.xhtml
   ==============================================================*/
.widget-geofacetting {

	&__body {
		padding: 0;
	}
	
	&__actions {
		color: @white;
		
		.btn {
			color: @white;
		}
	}
}

.widget-geomap .geomap__options_wrapper {
	display: none;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
