/* ==============================================================
   Widget Calendar
   style declarations for calendar widget
   ==============================================================*/
.widget-calendar {
    &__body {
    }
    .flatpickr-calendar {
    }
    .flatpickr-innerContainer,
    .flatpickr-rContainer,
    .flatpickr-days {
    }
    .dayContainer {
        background: @bg-content-box;
    }
    .flatpickr-prev-month.-disabled-,
    .flatpickr-next-month.-disabled- {
    }
    .numInputWrapper span.arrowUp,
    .numInputWrapper span.arrowDown {
        &:hover {
        }
        &.-disabled- {
            &:hover {
            }
        }
        &::after {
        }
    }
    .numInputWrapper span.arrowUp::after {
    }
    .numInputWrapper span.arrowDown::after {
    }
    .flatpickr-day {
        background: transparent;
        &.-has-data- {
            & when (@colorModes = true) {
            .mx-dark-mode-rules ({
                color: @fg-general;
                background: @bg-active;
                .pseudostates ({
                    color: @fg-hover;
                    background: @bg-hover;
                });
            });
              .mx-light-mode-rules ({
                background: #d5d5d5;
                .pseudostates ({
                    color: @fg-hover;
                    background: @bg-hover;
                });
            });
            }
        }
        &.-current-issue- {
            color: white;
            font-weight: 700;
            background: @bg-active;
            & when (@colorModes = true) {
            .mx-dark-mode-rules ({
                background: @bg-hover;
            });
              .mx-light-mode-rules ({
                background: @bg-active;
            });
            }
        }
    }
    .flatpickr-day.-has-data- {
    }
    .flatpickr-day.-has-multiple-::after {
    }
    .flatpickr-day.-has-multiple-.-current-issue-::after {
    }
    .flatpickr-day.-has-multiple-.-current-issue-:hover::after {
    }
    .flatpickr-months,
    .flatpickr-weekdays {
        background: @ci-color1;
    }
    &__popover {
    }
    &__popover-item {
        &:hover {
        }
        &.-active- {
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
}
