/* ==============================================================
   Widget Calendar
   style declarations for calendar widget
   ==============================================================*/
.widget-calendar {
	.dayContainer {
		background: @bg-content-box;
	}
	.flatpickr-day {
		background: transparent;
		&.-has-data- {
			& when (@colorModes = true) {
			.mx-dark-mode-rules ({
				color: @fg-general;
				background: @bg-active;
				.pseudostates ({
					color: @fg-hover;
					background: @bg-hover;
				});
			});
			  .mx-light-mode-rules ({
				background: #d5d5d5;
				.pseudostates ({
					color: @fg-hover;
					background: @bg-hover;
				});
			});
			}
		}
		&.-current-issue- {
			color: white;
			font-weight: 700;
			background: @bg-active;
			& when (@colorModes = true) {
			.mx-dark-mode-rules ({
				background: @bg-hover;
//				.pseudostates ({
//					color: @fg-hover;
//					background: @bg-hover;
//				});
			});
			  .mx-light-mode-rules ({
				background: @bg-active;
//				.pseudostates ({
//					color: #fff;
//					  background-color: @bg-active;
//				});
			});
			}
		}
	}
	.flatpickr-months,
	.flatpickr-weekdays {
		background: @ci-color1;
	}
	
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
}
