/***************************************************************
 * viewer Crowdsourcing Stylesheet v3.1.0
 * 
 * Write {LESS}, do more!
 *
 * This file overwrites the basic style declarations for the
 * Goobi viewer Crowdsourcing (reference-cs.css)
 **************************************************************/
/* CORE VARIABLES AND MIXINS */
/* ==============================================================
   Theme Fonts
   ==============================================================*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../../fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlabRegular';
  src: url('../../fonts/RobotoSlab-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherRegular';
  src: url('../../fonts/merriweather-regular-webfont.woff2') format('woff2'), url('../../fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*
 * general styling
 */
body {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  line-height: 1.4;
  color: #222;
  background-color: #f2f3f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
a {
  color: #3365a9;
}
a:hover,
a:focus,
a:active {
  color: #444;
  outline: none !important;
}
button:focus,
button:active {
  outline: none !important;
}
strong {
  font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  body {
    padding-top: 52px;
  }
}
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Layout
   ==============================================================*/
/* OFFCANVAS FADE */
.offcanvas-fade.in {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* TOP HEADER */
/* BLOCK */
.top-header {
  background-color: #444;
  color: #fff;
  /* ELEMENT */
}
.top-header a {
  color: #fff;
}
.top-header a:hover,
.top-header a:focus,
.top-header a:active {
  color: #fff;
  text-decoration: none;
}
.top-header__logo {
  padding: 6px 0;
  font-size: 14px;
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
.top-header__logo strong {
  font-family: "MerriweatherRegular", "Times New Roman", Times, serif;
}
.top-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}
/* HEADER ACTIONS */
/* BLOCK */
.header-actions {
  min-height: 110px;
  /* ELEMENT */
}
.header-actions__logo {
  line-height: 95px;
}
.header-actions__logo a:hover,
.header-actions__logo a:focus,
.header-actions__logo a:active {
  text-decoration: none;
}
.header-actions__logo span {
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 2rem;
  font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
.header-actions__logo img {
  max-width: 100%;
  max-height: 75px;
}
.header-actions__search {
  padding: 28px 0 27px 0;
  padding-left: calc(50% + 15px);
}
.header-actions__search-advanced {
  padding-left: 6px;
  font-size: 12px;
}
/* MAIN NAVIGATION */
/* BLOCK */
.main-navigation {
  background-color: #3365a9;
  /* ELEMENT */
}
.main-navigation .container {
  padding: 0 3px;
}
/* CONTENT */
/* BLOCK */
.page-content {
  /* ELEMENT */
}
.page-content__close-sidebar {
  display: none;
  margin-bottom: 1.3125rem;
}
.page-content__close-sidebar button {
  display: block;
  width: 100%;
  text-align: left;
}
/* SIDEBAR */
#sidebar {
  padding-top: 15px;
}
/* FOOTER */
#pageFooter {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #444;
}
#footerNavigation {
  text-align: right;
  font-size: 12px;
}
#footerNavigation li {
  display: inline-block;
}
#footerNavigation li + li:before {
  content: "\007c";
  display: block;
  float: left;
  clear: left;
  padding: 5px 10px 5px 0;
}
#footerNavigation a {
  display: inline-block;
  padding: 5px 5px 5px 0;
  color: #fff;
}
#footerNavigation a:hover,
#footerNavigation a:focus,
#footerNavigation a:active {
  color: #fff;
  text-decoration: underline;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  /* HEADER */
  .header-actions {
    min-height: inherit;
  }
  .header-actions__logo {
    display: none;
  }
  .header-actions__search {
    display: none;
    position: fixed;
    top: 52px;
    right: 0;
    left: 50%;
    padding: 15px;
    border: 1px solid #444;
    border-top: none;
    background-color: #fff;
    z-index: 998;
  }
  /* CONTENT */
  #main {
    width: 100%;
  }
  /* SIDEBAR */
  .page-content #sidebar {
    position: fixed;
    float: none;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 50%;
    padding: 15px;
    border-left: 1px solid #d5d5d5;
    background-color: #f2f3f4;
    overflow-y: auto;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1000;
  }
  .page-content #sidebar.in {
    right: 0;
  }
  .page-content__close-sidebar {
    display: block;
  }
  /* FOOTER */
}
/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: 480px) {
  /* HEADER */
  .top-header {
    margin-bottom: 15px;
  }
  .top-header__logo {
    display: none !important;
    visibility: hidden !important;
  }
  .header-actions__search {
    left: 0;
  }
  /* CONTENT */
  /* SIDEBAR */
  .page-content #sidebar {
    right: -90%;
    width: 90%;
  }
  /* FOOTER */
}
/* ==============================================================
   LESS Mixins
   ==============================================================*/
/* CLEARFLOATS */
.mx-clearfloats:before,
.mx-clearfloats:after {
  content: " ";
  display: table;
}
.mx-clearfloats:after {
  clear: both;
}
/* BACKGROUND IMAGE */
/* CSS TRIANGLE */
/* HIDDEN */
.mx-visible {
  display: block !important;
  visibility: visible !important;
}
/* HIDDEN */
.mx-hidden {
  display: none !important;
  visibility: hidden !important;
}
/* VISUALLY HIDDEN */
.mx-v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  overflow: hidden;
}
/* GRID */
/* LIST RESET */
.mx-list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ==============================================================
   Print CSS
   style declarations for print views
   ==============================================================*/
@media print {
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:link:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
/* ==============================================================
   Variables
   ==============================================================*/
/* FONTS */
/* BASIC */
/* CI-COLORS */
/* MESSAGE COLORS */
/* BUTTON COLORS */
/* STATISTICS */
/* NER */
/* CROWDSOURCING */
/* MEDIA QUERY BREAK POINTS */
/* VIEWER COMPONENTS */
/* ==============================================================
   viewer Controls
   style declarations for viewImageControls.xhtml
   ==============================================================*/
.viewer-control.page-browse {
  line-height: 30px;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Simple (Numeric) Paginator
   style declarations for simplePaginator.xhtml
   ==============================================================*/
/* NUMERIC PAGINATOR */
/* BLOCK */
.numeric-paginator {
  /* ELEMENT */
  /* MODIFICATION */
}
.numeric-paginator a,
.numeric-paginator span {
  background-color: #fff;
}
.numeric-paginator__dots a,
.numeric-paginator__dots span {
  background-color: transparent;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Buttons
   style declarations for buttons
   ==============================================================*/
/* BUTTONS */
.btn {
  /* MODIFICATION */
}
/* MODIFICATIONS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING LAYOUT */
/* ==============================================================
   Crowdsourcing Layout
   style declarations for Crowdsourcing Layout
   ==============================================================*/
body {
  padding: 70px 15px 0 15px;
}
.cs-widget-box {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #d5d5d5;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING COMPONENTS */
/* ==============================================================
   Crowdsourcing Change Local
   style declarations for crowdsourcingChangeLocal.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Image Controls
   style declarations for image controls
   ==============================================================*/
/* image controls */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Main Navigation
   style declarations for crowdsourcingNavigation.xhtml
   ==============================================================*/
#mainnav {
  background-color: #3365a9;
  border-color: #3365a9;
}
#mainnav ul li a {
  color: #fff;
}
#mainnav ul li a:hover,
#mainnav ul li a:focus,
#mainnav ul li a:active {
  color: white;
}
#mainnav .dropdown-menu > li {
  width: 100%;
}
#mainnav .dropdown-menu > li.divider {
  min-height: inherit;
}
#mainnav .dropdown-menu > li > a {
  color: #444;
}
#mainnav .dropdown-menu > li > a:hover,
#mainnav .dropdown-menu > li > a:focus,
#mainnav .dropdown-menu > li > a:active {
  color: #444;
  background-color: #eee;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Progress Bars
   style declarations for progress bars
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* VIEWS */
/* ==============================================================
   Crowdsourcing edit View Content
   style declarations for editviewContent.xhtml
   ==============================================================*/
/* content left */
/* content right */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View History
   style declarations for editviewHistory.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Edit View OCR
   style declarations for editviewOcr.xhtml
   ==============================================================*/
/* content right */
.ocr-right-delete-fulltext-mode {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #d5d5d5;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View Overview
   style declarations for editviewOverview.xhtml
   ==============================================================*/
/* content left */
/* content right */
.overview-right-show-more {
  text-align: center;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Overview
   style declarations for crowdOverview.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
