/* ==============================================================
   View Metadata
   style declarations for viewMetadata.xhtml
   ==============================================================*/
/* METADATA */
/* BLOCK */
.metadata {
	&__title-wrapper {
	}
	&__title {
	}
    &__bookmark-button {
    	&[data-bookmark-list-type="add"] {
		    .fa-bookmark-o,
		    .fa-bookmark {
		    }
		    .fa-bookmark-o {
		    }
		    .fa-bookmark {
		    }
		    &.added,
		    &:hover {
		        .fa-bookmark-o {
		        }
		        .fa-bookmark {
		        }
		    }
		}
	}
    .fa {
    }
	&__wrapper {
		// background-color: @bg-content-box;
		&.-isBoxed {
			border: @border;
			background-color: @bg-content-box;

			.metadata__ungrouped-wrapper {
				border: none;
			}
			.metadata__element-wrapper-single {
				border: none;
			}
		}
		a {
			color: @lk-content-box;
		}
	}
	/* ELEMENTS / EVENTS */
	&__elements,
	&__events {
		dd {
		}
	}
	&__element,
	&__event {}
	&__element-dl,
	&__event-dl {
		dt {
		}
		dd {
		}
	}
	&__element-value,
	&__event-value {
		&:last-child {
		}
	}
	/* ELEMENT */
	&__element {
		&-level-0 {
			&:hover {
			}
			&:first-child {
			}
		}
        &-level-1 {
			.metadata__element-dl {
			}
			dt {
				&::before {
				}
			}
		}
        &-level-2 {}
	}
	&__elements {
		&-level-0 {}
        &-level-1 {}
        &-level-2 {}
	}
	&__elements-h2 {}
	&__element-wrapper-single {
		border: @border;
		dt {
		}
	}
	&__element {}
	&__element-dl {
		dt {
		}
		dt {}
		dd {}
	}
	&__element-value {}
	/* EVENT */
	&__events {}
	&__event {}
	&__event-dl {
		dt {}
		dd {}
	}
	&__event-value {}
	&__grouped-wrapper {
		background-color: @bg-content-box;
		border: @border;
		dt, dd {
		}
		.metadata__element-wrapper {
			background-color: @bg-content-box;
		}
	}
	&__ungrouped-wrapper {
		border: @border;
	}
	&__element-ungrouped {
		dt {
		}
	}
	&__heading {
		background-color: @bg-content-box;
		&.level-1,
		&.level-2 {
			&:before {
			}
		}
		&.level-1 {}
		&.level-2 {}
	}
}

/* DOWNLOADS */
#viewMetadataDownloads {
    ul {
        li {
            a {}
            .btn {}
            /* BLOCK */
            &.dl-links {
                /* ELEMENT */
                &__mets {}
                &__mets-all {}
                &__marcxml {}
                &__dc {}
                &__ese {}
                &__dfg {}
                &__opac {}
                &__pdf {}
                &__epub {}
            }
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint)  {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
