/* ==============================================================
   Search Advanced
   style declarations for searchAdvanced.xhtml
   ==============================================================*/
/* SAERCH ADVANCED */
/* BLOCK */
.search-advanced {
    /* ELEMENT */
    &__entry-area {
        background-color: @bg-content-box;
        border: @border;
        span.remove {}
        .remove {
            &:hover {
                color: @black;
            }
        }
    }
    &__loader {}
    &__input-group {
        .form-control__select,
        input[type="text"] {}
        input[type="text"] {
            &:focus {
                & + .input-group-addon {}
            }
        }
	.custom-control--select {
	    &:after {}
	    select[disabled] {}
	}
	select {}
	button {}
	.row .col-sm-1 {}
	}
	
	&__input-group-field {
	}
	&__input-value {
		background: @white;
		& when (@colorModes = true) {
		    .mx-dark-mode-rules ({
		    	background: @white;
		     });
		    .mx-light-mode-rules ({
		    	background: @white;
		    });
		}
	}
	&__select-values {
	}

	&__action {
	    .btn--default {
		background: #f7f7f7;
		& when (@colorModes = true) {
	        .mx-dark-mode-rules ({
	            background: @fg-general;
	        });
		    .mx-light-mode-rules ({
		        background: #f7f7f7;
		    });
		}
	}
	}
	&__additional-wrapper {
	    color: @fg-general;
	}
    &__input-col {
        a,
        button {
            &:hover,
            &:focus,
            &:active {
            }
            &[disabled="disabled"] {
            }
        }
        span {
        }
        .form-group {
        }
    }
    &__action {
        .btn {
        }
    }
    &__fuzzy-search-option-wrapper {
    }
	&__additional-options-area {
	}
	&__nav-helper-box {
	    background-color: @bg-content-box;
	    border: @border;
	}
	&__nav-helper-item {
	}
	&__nav-helper-label {}
	&__custom-control {
		select {
		}
	}

	
	// GAP SIZING VARIABLE
	// @gap-sizer: 5px;
}
/* MODIFICATION */

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}