/* ==============================================================
   Access Ticket Modal & Object Page Styles
   ==============================================================*/

.access-ticket-modal {
}

.access-ticket-info {
    &__inner {
        p {
            color: @fg-general;
        }
        background: @bg-content-box;
        border: @border;
    }
    &__object-title {
        color: @fg-general;
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
}
