/* ==============================================================
   born-digital
   style declarations for bornDigital.xhtml
   ==============================================================*/
/* BORN-DIGITAL */
/* BLOCK */
.born-digital {
	/* ELEMENT */
	h2 {}
	p {}
	&__items {}
	&__item {
		background: @bg-content-box;
		border: @border;
		&:before,
		&:after {}
		&:before {}
		&:after {}
	}
	&__item-order-label {
    background: @ci-color1;
  }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
