/* ==============================================================
   Breadcrumbs
   style declarations for breadcrumbs.xhtml
   ==============================================================*/
/* BREADCRUMBS */
/* BLOCK */
.breadcrumbs {
  &__wrapper {
    font-size: @fontSmall;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    li {
      display: flex;
      align-items: center;
    }
  }
  /* ELEMENT */
  ul {
  }
  li {
  }
  a,
  span {
  }
  a {
  }
  span {
  }
  &__starttext {
    a,
    span {
    }
  }
  &__starttext + li {
    a,
    span {
    }
  }
  &__crumb + li:before {
  }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {
}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
  .breadcrumbs-wrapper {
    display: none;
  }
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
}
