/bin/
/build/
/deploy/
/node_modules/
.DS_Store
**/.DS_Store
/package-lock.json
/target/
/.metadata/
/.src/rebel.xml
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.wst.common.component
/.classpath
