/* ==============================================================
   Bookshelves
   style declarations for all bookshelf actions,
   ==============================================================*/
/* BOOKSHELF NAVIGATION */
/* BLOCK */
.bookshelf-navigation {
	float: right;
	width: 100px;
	max-height: 28px;
	margin-left: .4375rem;
	/* ELEMENT */
	&__icons {
		&.no-padding {}
		span {}
	}
	&__counter {}
	&__dropdown-wrapper {
		button {
			width: 100%;
		}
	}
	&__dropdown {
		font-size: 14px;
		text-align: left;
		color: @black;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
		a, button {
			color: @black;
			&:hover,
			&:active,
			&:focus {
				color: @blue;
			}
		}
	}
	&__dropdown-list {
		li {
			display: block;
			height: auto;
			line-height: normal;
			&:last-child {}
			.empty {}
		}
		h4 {
			margin: 0;
			line-height: normal;
			font-family: @fontSansSerif;
		}
	}
	&__dropdown-list-counter {}
	&__dropdown-list-reset,
	&__dropdown-list-send {
		[data-bookshelf-type="reset"],
		a {
			color: @black;
			&:hover,
			&:active,
			&:focus {
				color: @blue;
			}
		}
	}
	&__dropdown-list-reset {
		[data-bookshelf-type="reset"] {}
	}
	&__dropdown-list-send {
		a {}
	}
	&__dropdown-list-image {}
	&__dropdown-list-remove {
		&.no-padding {}
		[data-bookshelf-type="delete"] {}
	}
	&__dropdown-action {}
}

/* POPUPS */
/* BLOCK */
.bookshelf-popup {
	&.top {}
	&.right {}
	&.bottom {
		&:before {}
	}
	&.left {}
	/* ELEMENT */
	&__header,
	&__body,
	&__footer {}
	&__header {}
	&__body {}
	&__body-loader {}
	&__body-list {
		li {
			.empty {}
		}
		[data-bookshelf-type="add"] {
			.fa {}
			span {}
		}
	}
	&__footer {
		input {}
		[data-bookshelf-type="add"] {
			&.added {}
		}
	}
	&__list {}
}

/* ACTION BUTTONS */
[data-bookshelf-type="dropdown"],
[data-bookshelf-type="get"],
[data-bookshelf-type="add"],
[data-bookshelf-type="add-bookshelf"],
[data-bookshelf-type="delete"],
[data-bookshelf-type="link"],
[data-bookshelf-type="reset"] {}

[data-bookshelf-type="dropdown"] {}

[data-bookshelf-type="get"] {}

[data-bookshelf-type="add"] {
	&.white {}
	&.added {
		&.white {}	
	}
}

[data-bookshelf-type="delete"] {}

[data-bookshelf-type="link"] {}

[data-bookshelf-type="reset"] {}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {} 

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}