/* ==============================================================
   Widget Toc
   style declarations for widget_toc.xhtml
   ==============================================================*/
#widgetToc {
    #AJAXLoaderSidebarToc {}
    .widget-toc-title {
        h3 {
        }
        .widget-toc-title-expand {
            top: 9px;
            right: 10px;
            padding: 0;
            border: none;
            li {
                a {
                    color: @white;
                }
            }
        }
    }
    .widget-toc-elem-wrapp {
    	border: 1px solid @middlegray;
	    border-top: none;
        ul {
        	border: none;
            li {
                &.parent {
                    .widget-toc-elem-link {}
                }
                &.last-child {
                    .widget-toc-elem-link {}
                }
                .widget-toc-elem-expand {
                    a {}
                }
                .widget-toc-elem-link {
                    color: @lowerblack;
                    a {
                        color: @black;
                        font-size: 13px;
	                    &:hover,
	                    &:focus,
	                    &:active {
	                        text-decoration: none;
	                    }
	                    &:hover {
	                        background-color: @lightgray;
	                    }
                        &.active {
                            font-family: @fontSansSerifBold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOP */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}