/***************************************************************
 * viewer custom Stylesheet v3.4.0
 * 
 * Write {LESS}, do more!
 *
 * This file overwrites the basic style declarations for the
 * intranda viewer (<themeName>.css)
 **************************************************************/
