/* ==============================================================
   Layout
   ==============================================================*/

#bodyWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	position: relative;
}

/* REFERENCE SLIDER STYLING */
.slider-reference {
    &__container {}
    &__wrapper {
        height: 250px;
        position: relative;
        pointer-events: none;
        cursor: default;
    }
    &__image {
        height: 250px;
        object-position: center 25%;
    }
    &__link {
        pointer-events: none;
        cursor: default;
        display: block;
    }
    &__header {
        position: absolute;
        left: 15%;
        top: 50%;
        background: rgba(0, 0, 0, 0.3);
        padding: 1.2rem 2rem;
        color: @white;
        font-size: 3.5rem;
        z-index: 100;
        font-weight: 300;
        transform: translatey(-50%);
    }
    &__description {
        display: none;
    }
}

/* NAVIGATION */
.page-navigation__mobile {
    display: none;
}

.page-navigation {
    background: @ci-color1;
    position: relative;
    position: sticky;
    top: 50px;
    z-index: 2010;
    &__wrapper {}
    &__mobile {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
        #pageNavigationMobile {
            height: calc(~"100% - (50px + 30px + 30px)");
            position: relative;
            width: 100%;
            bottom: 0;
            left: 0;
            overflow: auto;
            padding: 0;
            margin-top: 8rem;
        }
        &.-mobileMenuOpen {
            z-index: 998;
            opacity: 1;
            pointer-events: auto;
            background: @ci-color1;
        }
    }
    &__mobile-languages-wrapper {
        margin-top: 2.5rem;
    }
    &__mobile-languages-trigger {
        display: flex;
        align-items: center;
        color: @white;
        padding: 0.6rem 1.2rem;
        font-size: 1.6rem;
        cursor: pointer;
        button {
            color: @white;
            font-size: 1.6rem;
            &:hover,
            &:active,
            &:focus {
                color: @white;
            }
        }
        .fa {
            margin-right: 0.8rem;
        }
    }
    &__mobile-languages-toggle-indicator {
        margin-left: auto;
    }
    &__mobile-languages-selection {
        padding-left: 2.5rem;
        list-style: none;
        margin-left: 0;
        display: none;
        margin-bottom: 0.2rem;
        a {
            color: @white;
            padding: 0.6rem 1.2rem;
            font-size: 1.4rem;
            display: block;
            &:hover,
            &:focus,
            &:active {
                color: @white;
                text-decoration: none;
            }
            &.activeLang {
                font-weight: 700;
                &:after {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f00c";
                    margin-left: 0.7rem;
                }
            }
        }
    }
    &.-adminActive {
        position: relative;
        top: unset;
    }
}





/* RIGHT TO LEFT LAYOUT ADAPTATIONS */

@{RTL} {
    .page-header {
        &__top-actions-login {
            margin-left: unset;
            margin-right: 1.5rem;
        }
        &__top-mobile-sidebar {
            text-align: left;
        }
        &__actions {
            margin-left: unset;
            margin-right: auto;
        }
        &__logo {
            img {
                margin-left: 2rem;
                margin-right: unset;
            }
        }
        &__actions-language,
        &__actions-bookmark,
        &__actions-login,
        &__actions-search-button {
            border-right: 1px solid @middleblack;
            border-left: none;
        }
        &__actions-search-button {
            &.-searchOn {
                border-right: none;
            }
        }
        &__actions-language-button {
            .fa {
                padding-right: 0;
                padding-left: 0.5rem;
            }
        }
    }
    .page-content {
        &__main {
            padding-right: unset;
            padding-left: 1.5rem;
        }
        &__sidebar {
            padding-right: 1.5rem;
            padding-left: unset;
        }
    }
    .page-footer {
        &__social {
            margin-left: unset;
            margin-right: auto;
        }
        &__links a + span {
            padding-left: 0;
        }
        &__links span {
            padding-right: 1.2rem;
        }
    }
}

@keyframes searchButtonAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {
    .page-header {
        transition: all 0.2s ease;
        &__search-box {
            &.-searchOn {
                .input-group-addon {
                    margin-left: 0;
                }
            }
        }
    }
}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {
    .page-header {
        &__actions-language {
            display: none;
        }
        height: 55px;
        &.-mobileMenuOpen {
            .page-header__span,
            .page-header__actions-language,
            .page-header__actions-login,
            .page-header__actions-bookmark,
            .page-header__actions-search-button,
            .page-header__actions-color-switch,
            .page-header__client-status {
                display: none;
            }
            .page-header__mobile-burger-menu-alternative {
                span,
                &::before,
                &::after {
                    border-color: @white;
                }
            }
        }
        &.-adminActive {
            position: relative;
            top: unset;
        }
        &__spacer {
            height: 55px;
        }
        &__mobile-sidebar-trigger {
            display: block;
        }
        &__mobile-burger-menu-alternative {
            display: block;
        }
        &__inner {
            padding: 1rem 0;
        }
        &__slider {
            height: 150px;
        }
        &__wrapper {}
        &__logo {
            font-size: 2.5rem;
            a img {
                max-width: 6rem;
            }
        }
        &__search {
            flex: 0 0 40%;
            max-width: 40%;
        }
        &__search-box {
            .widget-searchfield {}
        }
        &__mobile-burger-menu {
            display: block;
        }
        &__actions-language,
        &__actions-bookmark,
        &__actions-login,
        &__actions-search-button,
        &__actions-color-switch,
        &__client-status {
            border: none;
            padding: 0 0.7rem;
        }
        &__navigation-mobile-background {
            display: block;
        }
    }
    .page-navigation {
        display: none;
        padding-top: 2rem;
        background: unset;
        &__wrapper {
            max-height: 90vh;
            overflow-y: scroll;
        }
    }

    .page-navigation__mobile {
        display: block;
    }

    .slider-reference {
        &__container {}
        &__wrapper {
            height: 150px;
        }
        &__header {
            font-size: 20px;
            padding: 1.5rem 2rem;
        }
        &__image {
            background-size: cover;
            background-position: center center;
            height: 150px;
        }
    }
    .page-content {
        z-index: unset;
        position: unset;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__main {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
        }
        &__sidebar {
            flex: unset;
            position: fixed;
            top: 0;
            right: -100%;
            bottom: 0;
            width: 60%;
            max-width: unset;
            padding: 1.5rem;
            padding-top: 4rem;
            background-color: @bg-general;
            transition: right 0.3s ease;
            overflow-y: auto;
            z-index: 2031;
            &.in {
                right: 0;
            }
        }
    }
    .page-footer {
        position: relative;
    }
}

@{RTL} {
    .page-content {
        &__sidebar {
            padding: 1.5rem;
        }
    }
}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {
    .page-header {
        &__inner {
            align-items: center;
        }
        &__logo {
            span {
                display: none;
            }
            img {
                max-width: 100%;
                margin-right: 0.2rem;
            }
        }
    }

    .page-content {
        &__sidebar {
            right: -80%;
            width: 80%;
        }
    }
}