/* ==============================================================
   Misc CSS
   style declarations for everything else
   ==============================================================*/

// LOADER (AJAX) WHICH IS SOMETIMES TRIGGERED ON BUTTONS OR ACTIONS
.small-button-loader {
	&__wrapper {

	}
	&__icon {
		border-right-color: @ci-color1;
		&.-top-right {}
	}
}

// FANCY 2 OPTIONS (YES/NO) TOGGLE
.admin__radio-switch {
	label {
		color: @fg-general;
	}
	input ~ input:checked ~ .toggle-outside {
		background: @ci-color1;
	}
}

// TEMPORARY IMPLEMENTATION FOR SLIDER (SWIPER PAGINATION)
.swiper-pagination-bullets {
	text-align: center;
	margin-top: 2rem;
}
.swiper-pagination-bullet-active {
	background: @ci-color1;
}

/* BREAKPOINT FOR LARGE DESKTOPS */
@media screen and (max-width: @largeBreakpoint) {}

/* BREAKPOINT FOR DESKTOPS */
@media screen and (max-width: @mediumBreakpoint) {}

/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: @smallBreakpoint) {}

/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: @xSmallBreakpoint) {}
